body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#canvas{
    background-color: rgb(41, 41, 41);
}